@import '_setting.css';

.list {
  flex: 0 0 auto;
  width: 300px;
  height: 100%;
  /* background-color: var(--list_bg_color); */
  margin-left: var(--gap);
  /* max-height: 100%; */
}

.list header {
  background-color: var(--list_bg_color);
  padding: 0 8px;
  padding-left: 15px;
  height: var(--column-header-height);
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  /* border: 1px solid; */
  border-top-left-radius: var(--column-border-radius) ;
  border-top-right-radius: var(--column-border-radius) ;
}

.list-title {
  color: #333;
}

.header_board {
  display: flex;
  justify-content: space-between;
}

.list ul {
  padding: 0 8px;
  list-style-type: none;
  margin: 0;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  background-color: var(--list_bg_color);
}




.list footer {
  color: #333;
  padding: 0 8px;
  padding-left: 10px;
  height: var(--column-footer-height);
  line-height: 36px;
  font-weight: bold;
  border-bottom-left-radius: var(--column-border-radius) ;
  border-bottom-right-radius: var(--column-border-radius) ;
  background-color: var(--list_bg_color);
  /* font-size: 16px; */
  /* border: 1px solid; */
}

.footer-action {
  margin-left: var(--gap);
  cursor: pointer;
}

.footer-action:hover{
  color: darkblue;
}

.footer-action:hover .add_task{
  color: darkblue;
}

.add_task {
  margin-bottom: 2px;
}

.list-title {
}

.form-control,
.form-control:active,
.form-control:focus,
.form-control:focus:active {
  background-color: inherit;
  border: none;
  padding: none;
  box-shadow: none;
  font-size: inherit;
  font-weight: inherit;
}

/* .form-control:focus {
  background-color: white;
} */
