@import '_setting.css';

.main-container {
  grid-area: main;
  padding: 20px 20px;
  display: block;
  height: 100%;
}

.font-weight-bold {
  font-weight: 700;
}

.list-columns{
  display: flex;
  overflow-x: auto;
  font-size: 14px;
  max-height: 100%;
}





