@import '_setting.css';

.main-container {
  grid-area: main;
  padding: 20px 20px;
  display: block;
  height: 100%;
}

.font-weight-bold {
  font-weight: 700;
}

.list-columns{
  display: flex;
  overflow-x: auto;
  font-size: 14px;
  max-height: 100%;
}

.add-another-list {
  min-width: 250px;
  height: 36px;
  line-height: 32px;
  padding: 4px 0 4px 15px;
  cursor: pointer;
  margin-left: var(--gap);
  font-size: 16px;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
  padding-left: 50px;
}

.add-another-list:hover {
  background-color: blue;
}




