@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

:root {
  /* --list_bg_color : #ebecf0; */
  --list_bg_color : red;
  --column-header-height: 36px;
  --column-footer-height: 36px;
  --column-border-radius: 7px;
  --task-border-radius: 3px;
  --gap: 10px
}

.font24 {
  font-size: 24px;
}

.material-symbols-outlined {
  vertical-align: middle;
  line-height: 2px;
}