@import 'bootstrap/dist/css/bootstrap.min.css';
@import './_setting.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #e6e8ed; */
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

body {
  line-height: 1.3em;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
    "sidebar header header header"
    
    "sidebar main main main";
  height: 100vh;
}

.icon {
  font-size: 20px;
  margin-right: 3px;
}